<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bb_bob_blue1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,68}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>bb_bob_blue2.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>bb_bob_blue3.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{72,74}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>bb_bob_blue4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{74,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>bb_bob_blue5.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,78},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>bb_bob_yellow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,78},{66,68}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>bb_bob_yellow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,78},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>bb_bob_yellow3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{72,74}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>bb_bob_yellow4.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,152},{74,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>bb_bob_yellow5.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,78},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>bubble.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e62ae0634db73bcc7e42a4f2b00b6107$</string>
            <key>textureFileName</key>
            <string>bubble.png</string>
        </dict>
    </dict>
</plist>
