<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>character0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,76}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>character0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{74,76}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>character0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{74,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>character0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{76,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>character0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,80},{76,76}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>character0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,80},{76,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>character0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{74,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>character0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,158},{74,76}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>character0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,158},{74,76}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>character0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{72,76}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>playerCharacter.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30d76d70b5358443c6add6a8eb343495$</string>
            <key>textureFileName</key>
            <string>playerCharacter.png</string>
        </dict>
    </dict>
</plist>
